* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alexandria', sans-serif;
    background-color: #141414;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

header {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 

}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;

}


.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background : url('bck-img.jpg') no-repeat center center/cover;
    
    
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
}

.btn-primary {
    background-color: red;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 300;
}

.content {
    padding: 50px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.grid-item img {
    width: 100%;
    border-radius: 5px;
}

.reasons {
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.reasons-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;

}

.card {
    background: linear-gradient(180deg, #1e1e2c 0%, #1a1729 100%);
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    height: 50dvh;
    text-align: left;
    position:relative;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    line-height: 1.4;
}

.card-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: auto;
}

.footer {
    background-color: #000;
    padding: 60px 30px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-column a {
    color: #888;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
}

.footer-column a:hover {
    color: #fff;
}

.language-selector {
    margin-bottom: 20px;
}

.language-selector select {
    background-color: #333;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.region-info {
    font-size: 14px;
    color: #888;
}

